.powerList{
	background-color: transparent; 
}
.centerButton{
	text-align:center;
}
.battleButton{
	margin-top: 5px;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
}

.selectHero{
	margin: 10px;
}
